* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    margin: 1em;
    background-color: white;
    border-bottom: 4px solid orange;
    border-radius: 8px;
    box-shadow: 2px 5px 5px gray;
}
body {
    min-height: 100vh;
    position: relative;
}
h1 {
    margin: 0.4em;
    margin-bottom: 0.2em;
}
h3 {
    font-size: 1.5em;
    text-align: center;
}
input {
    margin-top: 0.2em;
    width: 15em;
}
#error {
    p {
        margin: 1em;
        padding: 0.2em;
        border: 1px red solid;
    }
}
#login {
    #login-div {
        border: 2px solid orange;
        border-radius: 8px;
        box-shadow: 2px 5px 5px gray;
        padding: 1em;
        margin: auto;
        margin-top: 2em;
        width: clamp(20%, 22em, 40em);
        h2 {
            text-decoration: underline;
            text-align: center;
        }
        #login-content {
            display: flex;
            flex-direction: row;
            form {
                div {
                    margin-top: 0.2em;
                    display: flex;
                    flex-direction: column;
                }
                button {
                    margin-top: 0.5em;
                    font-size: 1.3em;
                    margin-bottom: 0.2em;
                    max-width: 6em;
                }
            }
        }
    }
}
#wrapper {
    display: flex;
    @media screen and (max-width: 1500px) {
        flex-direction: column;
    }
    section {
        padding: 1em;
        padding-bottom: 2em;
        min-width: clamp(27%, 30em, 80%);
        height: 30em;
        margin: auto;
        margin-top: 1em;
        border: 3px solid orange;
        border-radius: 15px;
        box-shadow: 2px 5px 5px gray;
        p{
            max-width: 35em;
            margin-top: 0.4em;
        }
    }
}
footer {
    padding: 1em;
    margin-bottom: 1em;
    border: 4px solid orange;
    border-radius: 15px;
    text-align: center;
    box-shadow: 2px 5px 5px gray;
    position: absolute;
    height: 50px;
    bottom: 0px;
    @media screen and (max-width: 1500px) {
        bottom: -120px;
    }
    width: 90%;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    p {
        font-size: 1.5em;
    }
}
#modeCheck {
    width: 1em;
}
.mainForms > div {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    display: flex;
    flex-direction: column;
}
.mainForms {
    button {
        width: clamp(40%, 4em, 60%);
        font-size: 1em;
    }
    .bigText {
        min-height: 7em;
    }
}
#menuItems {
    max-height: 100%;
    overflow: scroll;
    div div{
        border: solid 3px orange;
        margin-bottom: 0.5em;
        border-radius: 15px;
        padding: 0.3em;
    }
}